<nav>
    <div class="inner">
        <a class="navbar-entry title" href="/">Dyablog.</a>
        <div class="separator"></div>
        <a class="navbar-entry" href="{% url 'blog:index' %}">Posts</a>
        <div class="navbar-login">
            {% if user.is_authenticated %}
            <p class="username">{{ user }}</p>
            {% if perms.blog.add_blogpost %}
            <a class="navbar-entry new-post" href="{% url 'blog:new-post' %}">New Post</a>
            {% endif %}
            <a class="navbar-entry logout" href="{% url 'blog:logout' %}">Log out</a>
            {% else %}
            <a class="navbar-entry login" href="{% url 'blog:login' %}">Login</a>
            {% endif %}
        </div>
    </div>
</nav>
