{% extends "./base.html" %}

{% block title %}
{{ post.title }} - Dyablog.
{% endblock %}

{% block content %}
<div class="post">
    <div class="post-header">
        <h2 class="author">{{ post.author }}</h2>
        <h1 class="title">{{ post.title }}</h1>
        <h3 class="pub-date">Published on: <span>{{post.pub_date.date}}</span></h3>
        {% if user.is_authenticated %}
        <a class="edit" href="edit">Edit Post</a>
        {% endif %}
    </div>
    <div class="post-body">
        {{ post.body }}
    </div>
</div>
{% endblock %}